$main-font: 'Quattrocento Sans', sans-serif;
$title-font: 'Quattrocento', serif;
$contact-link-font: 'Roboto', sans-serif;

$dark-text-color: #000000;
$text-color: #474747;
$light-color: #ffffff;
$accent-color: #0092de;
$dark-background-color: #16242e;
$light-background-color: #f8f8f8;